body {
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.square {
  width: 100px;
  height: 100px;
  background-color: beige;
  border: 1px solid gray;
  display: inline-block;
}

.o,
.x {
  position: relative;
}

.o::after,
.x::after {
  position: absolute;
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.o::after {
  content: "\1F6E1";
}

.x::after {
  content: "\2694";
}